<p id="notice"><%= notice %></p>

<div class='row index-row'>
  <div class='col-md-6 games-index-title'>
    <h1>The Marketplace</h1>
  </div>
</div>

<div class="row index-row">
  <div class="col-md-6 upload-button">
      <% if can? :manage, Game %>
        <%= link_to("<button class='btn btn-secondary btn-lg new-game'>Upload A New Game</button>".html_safe, new_game_path) %>
      <% end %>
  </div>
</div>

<!-- Search Bar -->
<div class='row index-row'>
  <div class='col-md-6 search-bar'>
    <span class='sort-title'>Sort by:</span>
    <span class='sort-filter'><%= sort_link(@q, :title) %></span>
    <span class='search-divider'> | </span>
    <span class='all-games-link'> <%= link_to('View All Games', games_path) %> </span>
    <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont %>
    <%= f.submit %>
    <% end %>
  </div>
</div>

<!-- Game Listings Cards -->
<div class="row index-row">
  <% @games.each do |game| %>
    <div class="col-xs-3 card-deck">    
      <div class="card games-index">
        <div class="card-img-top index-cover">
          <%= image_tag game.cover.thumb.url%>
        </div>
        <div class="card-body">
          <h4 class="card-title index-title">
            <%= link_to game.title, game %>
          </h4>
          <div class="card-subtitle mb-2 index-price">
            <span class="index-price-label">Price:</span> <h6>$<%= game.price %></h6>
            <% if game.user_id == current_user.try(:id) %>
              <span class="card-edit"><%=link_to 'Edit', edit_game_path(game) %> | </span>
              <span class="card-destroy"><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <% end %>
          </div>
        </div>
      </div>  
    </div>
  <% end %>
</div>