<div class="all_views">
  <p id="notice"><%= notice %></p>

  <h1>Games</h1>

  <%= search_form_for @q do |f| %>
  <%= f.label :search_for_game %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
  <% end %>

  <span><%= link_to('Browse All Games', games_path) %></span>

  <table>
    <thead>
      <tr>
        <th><%= sort_link(@q, :title) %></th>
      </tr>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td>
            <%= image_tag game.cover.thumb.url%>
          </td>
          <td><%= game.title %></td>
          <td><%= game.description %></td>
          <td><%= game.price %></td>
          <td><%= link_to 'Show', game %></td>
          <% if game.user_id == current_user.try(:id) %>
            <td><%=link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if can? :manage, Game %>
    <%= link_to 'New Game', new_game_path %>
  <% end %>
</div>