<div class="all_views">
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= link_to(image_tag(@game.cover.thumb.url, alt: 'Image'), @game.cover.url, target: '_blank') if @game.cover? %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @game.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @game.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @game.price %>
  </p>

  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>