<div class="all_views">
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= image_tag @game.cover.large.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @game.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @game.description %>
  </p>

  <p>
  <%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="price">
      <span><strong>Price: </strong><%= @game.price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description = "Buy the game"
  data-amount = "500"
  data-locale = "auto"></script>
  <% end %>

  </p>
  <% if @game.user_id == current_user.try(:id)  %>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <% end %>
  <%= link_to 'Back', games_path %>
</div>