<div class="all_views">
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= image_tag @game.cover.large.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @game.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @game.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @game.price %>
  </p>
  <% if can? :manage, Game %>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <% end %>
  <%= link_to 'Back', games_path %>
</div>