<div class="all-views login">
  <h2 class="form">Welcome back.</h2>
  <p class="form-info">
    Enter your information to continue buying and selling games.
  </p>
  <div class="flrish-form form-group">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "sr-only" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter an email adress", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "sr-only" %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-secondary btn-lg btn-block big-button" %>
      </div>
    <% end %>
  </div>
  <div class="form-link">
    <%= render "devise/shared/links" %>
  </div>
</div>