<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <title>flrish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Section 1: Nav -->
    <nav>
      <ul class="main-nav">
        <li class="logo"><%= link_to "flrish", '/welcome' %></li>
        <li><%= link_to "Browse", '/games' %></li>
        <li><%= link_to "Sign Up", '/users/sign_up' %></li>
        <li><%= link_to "Sign In", '/users/sign_in' %></li>
        <li><%= link_to "Sign Out", '/users/sign_out' %></li>
      </ul>
    </nav>
    <div class="all_views">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
