<!DOCTYPE html>
<html>
  <head>

    <!-- Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <%= favicon_link_tag ('favicon.ico'), :rel => 'icon', :type =>  'image/x-icon'%>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    
    <title>flrish.</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <!-- Section 1: Nav -->
    <%= render 'shared/navbar' %>

    <div class="all_views">
    
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      
    </div>
  </body>

  <footer>
    <div class='portfolio'> <a href='https://rhyswoodberry.github.io/'>Portfolio</a></div> |
    <div class='copyright'> &copy; 2018 Rhys Brian Woodberry</div> |
    <div class='ghub'> <a href='https://github.com/rhyswoodberry'>GitHub</a></div>
  </footer>
</html>
