<!DOCTYPE html>
<html>
  <head>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">
    <link rel="manifest" href="public/favicon/site.webmanifest">
    <link rel="mask-icon" href="public/favicon/safari-pinned-tab.svg" color="#d11f66">
    <meta name="msapplication-TileColor" content="#171616">
    <meta name="theme-color" content="#ffffff">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    
    <title>flrish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Section 1: Nav -->
    <nav>
      <ul class="main-nav">
        <li class="logo"><%= link_to "flrish", '/welcome' %></li>
        <li><%= link_to "Browse", '/games' %></li>
        <li><%= link_to "Sign Up", '/users/sign_up' %></li>
        <li><%= link_to "Sign In", '/users/sign_in' %></li>
        <li><%= link_to "Sign Out", '/users/sign_out' %></li>
      </ul>
    </nav>
    <div class="all_views">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
